<!--
  Generated template for the UsuarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Usuarios</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <button ion-button outline (click)="filtrosPerfiles()">{{perfilSeleccion.nombre}}</button>
    <button ion-button small clear color="danger" *ngIf="perfilSeleccion.id !== 0" (tap)="initialUpdate()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let usuario of usuarios">
    <ion-item (click)="ver(usuario)">
      <ion-thumbnail item-start>
        <img *ngIf="usuario.imagen" [src]="usuario.imagen">
      </ion-thumbnail>
      <h2>{{usuario.nombre}}</h2>

      <div *ngFor="let perfil of usuario.perfiles">
        <ion-note>{{perfil.nombre}}</ion-note>
      </div>

      <div item-end *ngFor="let perfil of usuario.perfiles">
        <ion-avatar item-end *ngIf="perfil.imagen">
          <img [src]="perfil.imagen">
        </ion-avatar>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (tap)="crear()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>