<!--
  Generated template for the MenuEmpresaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar *ngIf="empresa">
    <ion-title>{{empresa.negocio}} {{empresa.nombre}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="empresa">
    <ion-card>
      <ion-card-header>
        {{empresa.direccion.direccion}}.
        <br/> Teléfono: {{empresa.telefono}}
      </ion-card-header>

      <img *ngIf="empresa.imagen" [src]="empresa.imagen">

      <ion-card-content>
        <p>Representante: {{empresa.nombreRepresentante}}. Teléfono: {{empresa.telefonoRepresentante}}. Email: {{empresa.correoRepresentante}}</p>
      </ion-card-content>
    </ion-card>

    <ion-list>
      <ion-item-group *ngFor="let grupo of opciones">
        <ion-item-divider color="light" sticky>
          <ion-item color="light">
            <h2>
              <b>{{grupo.grupo}}</b>
            </h2>
            <button ion-button small icon-only item-end round (click)="crear(grupo.grupo)">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-item>
        </ion-item-divider>
        <ion-item *ngFor="let dato of grupo.datos">
          {{dato.nombre}}
          <ion-buttons item-end>
            <button ion-button color="danger" outline small *ngIf="grupo.grupo === 'Perfiles' && dato.nombre !== 'Administrador'" (click)="serviciosPerfil(dato)"
              [disabled]="!opciones[0].datos || !opciones[0].datos[0]">
              Servicios
            </button>

            <button ion-button color="dark" only-icon large clear (click)="ver(grupo.grupo, dato)">
              <ion-icon name="eye"></ion-icon>
            </button>
          </ion-buttons>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-list>
</ion-content>