page-logueo {
    .background{
        width: 100%;
        height: 100%;
        background: #f4f4f4;
    }

    .scroll-content{
        text-align: center;
    }

    ion-card.card{
        background: rgba(28, 120, 159, 0.6px);
        border-radius: 10px;
    }

    .item{
        background: rgba(232, 230, 230, 0.5px);
    }
}
