<ion-content class="background">

  <ion-grid>
    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col col-4 style="margin-left: auto;margin-right: auto;display: block;">
        <img src="assets/imgs/logo.jpg" style="width:100%;">
      </ion-col>
      <ion-col col-4></ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-content>
      <form [formGroup]="todo">
        <ion-list no-lines>
          <ion-item>
            <ion-label floating color="dark">Email</ion-label>
            <ion-input type="email" formControlName="username"></ion-input>
          </ion-item>

          <ion-item *ngIf="todo.controls.username.errors && todo.controls.username.touched">
            <p ion-text style="background-color: #f53d3d; color: #ffffff">El correo electrónico no es válido</p>
          </ion-item>

          <ion-item>
            <ion-label floating color="dark">Contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>

          <ion-item *ngIf="todo.controls.password.errors && todo.controls.password.touched">
            <p ion-text style="background-color: #f53d3d; color: #ffffff">La contraseña no es válida</p>
          </ion-item>

          <button ion-button color="primary" block style="margin-top: 10px" (tap)="logueo()" [disabled]="todo.invalid">INGRESAR</button>
        </ion-list>

        <!--<p>¿Olvidaste tu contraseña?
          <a>Entra aquí</a>
        </p>-->
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>